
@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-Thin.woff2') format('woff2'), url('TTF/IosevkaTermSS06-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-ExtendedThin.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS06-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS06-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-ExtendedThinItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-ExtendedExtraLight.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS06-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS06-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-Light.woff2') format('woff2'), url('TTF/IosevkaTermSS06-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-ExtendedLight.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-LightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS06-LightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS06-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-LightItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-ExtendedLightItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-Regular.woff2') format('woff2'), url('TTF/IosevkaTermSS06-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-Extended.woff2') format('woff2'), url('TTF/IosevkaTermSS06-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-Oblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS06-Oblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS06-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-Italic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-ExtendedItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-Medium.woff2') format('woff2'), url('TTF/IosevkaTermSS06-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-ExtendedMedium.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS06-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS06-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-SemiBold.woff2') format('woff2'), url('TTF/IosevkaTermSS06-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-ExtendedSemiBold.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS06-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS06-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-Bold.woff2') format('woff2'), url('TTF/IosevkaTermSS06-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-ExtendedBold.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS06-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS06-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-ExtendedExtraBold.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS06-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS06-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-Heavy.woff2') format('woff2'), url('TTF/IosevkaTermSS06-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS06-ExtendedHeavy.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS06-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS06-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS06-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS06 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS06-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS06-ExtendedHeavyItalic.ttf') format('truetype');
}
