@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: normal;
  src: url("https://gitlab-org.gitlab.io/frontend/fonts/fonts/Inter-Variable.woff2")
    format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: italic;
  src: url("https://gitlab-org.gitlab.io/frontend/fonts/fonts/Inter-Variable-Italic.woff2")
    format("woff2");
}

@font-face {
  font-family: "GitLab Sans";
  font-weight: 100 900;
  font-style: normal;
  src: url("https://gitlab-org.gitlab.io/frontend/fonts/fonts/GitLabSans.woff2")
    format("woff2");
}

@font-face {
  font-family: "GitLab Sans";
  font-weight: 100 900;
  font-style: italic;
  src: url("https://gitlab-org.gitlab.io/frontend/fonts/fonts/GitLabSans-Italic.woff2")
    format("woff2");
}

@font-face {
  font-family: "GitLab Sans Hinted";
  font-weight: 100 900;
  font-style: normal;
  src: url("https://gitlab-org.gitlab.io/frontend/fonts/fonts/GitLabSans.hinted.woff2")
    format("woff2");
}

@font-face {
  font-family: "GitLab Sans Hinted";
  font-weight: 100 900;
  font-style: italic;
  src: url("https://gitlab-org.gitlab.io/frontend/fonts/fonts/GitLabSans-Italic.hinted.woff2")
    format("woff2");
}

@font-face {
  font-family: "GitLab Mono";
  font-weight: 100 900;
  font-style: normal;
  src: url("https://gitlab-org.gitlab.io/frontend/fonts/fonts/GitLabMono.woff2")
    format("woff2");
}

@font-face {
  font-family: "GitLab Mono";
  font-weight: 100 900;
  font-style: italic;
  src: url("https://gitlab-org.gitlab.io/frontend/fonts/fonts/GitLabMono-Italic.woff2")
    format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  src: url("https://gitlab-org.gitlab.io/frontend/fonts/fonts/JetBrainsMono.woff2")
    format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: optional;
  font-weight: bold;
  src: url("https://gitlab-org.gitlab.io/frontend/fonts/fonts/JetBrainsMono-Bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: normal;
  font-style: italic;
  src: url("https://gitlab-org.gitlab.io/frontend/fonts/fonts/JetBrainsMono-Italic.woff2")
    format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-style: italic;
  src: url("https://gitlab-org.gitlab.io/frontend/fonts/fonts/JetBrainsMono-BoldItalic.woff2")
    format("woff2");
}
