:root {
  font-variant-numeric: proportional-nums;

  --bs-gradient: linear-gradient(180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 10px,
      rgba(0, 0, 0, 0.25) 100%);
}

iframe {
  color-scheme: light;
}

* {
  font-variant-numeric: proportional-nums;
}

.jawi {
  font-family: "NKL Dubai";
}

/* .display-6,
.display-5,
.display-4,
.display-3,
.display-2,
.display-1,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: "GitLab Sans Hinted", system-ui, -apple-system, sans-serif;
}
.jawi > .display-6,
.jawi .display-6,
.jawi > .display-5,
.jawi .display-5,
.jawi > .display-4,
.jawi .display-4,
.jawi > .display-3,
.jawi .display-3,
.jawi > .display-2,
.jawi .display-2,
.jawi > .display-1,
.jawi .display-1,
.jawi > .h3,
.jawi .h3,
.jawi > h3,
.jawi h3,
.jawi > .h2,
.jawi .h2,
.jawi > h2,
.jawi h2,
.jawi > .h1,
.jawi .h1,
.jawi > h1,
.jawi h1,
.jawi {
  font-family: "NKL Dubai";
} */
.form-control::-webkit-file-upload-button {
  background-image: var(--bs-gradient);
}

.form-control::file-selector-button {
  background-image: var(--bs-gradient);
}

.btn-check:checked.bg+.btn.bg-gradient,
:not(.btn-check)+.btn:active.bg-gradient,
.btn:first-child:active.bg-gradient,
.btn.active.bg-gradient,
.btn.show.bg-gradient {
  --bs-gradient: linear-gradient(180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0) 10px,
      rgba(255, 255, 255, 0.25) 100%);
}

.page-link:active.bg-gradient {
  --bs-gradient: linear-gradient(180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0) 10px,
      rgba(255, 255, 255, 0.25) 100%);
}

.navbar-toggler:active.bg-gradient {
  --bs-gradient: linear-gradient(180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0) 10px,
      rgba(255, 255, 255, 0.25) 100%);
}

.form-control:active::-webkit-file-upload-button {
  background-image: linear-gradient(180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0) 10px,
      rgba(255, 255, 255, 0.25) 100%);
}

.form-control:active::file-selector-button {
  background-image: linear-gradient(180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0) 10px,
      rgba(255, 255, 255, 0.25) 100%);
}

.form-switch .form-check-input:checked {
  background-image: var(--bs-gradient), var(--bs-form-switch-bg);
}

.form-switch .form-check-input:active {
  background-image: linear-gradient(180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0) 10px,
      rgba(255, 255, 255, 0.25) 100%),
    var(--bs-form-switch-bg);
}

.form-check-input:checked {
  background-image: var(--bs-gradient), var(--bs-form-check-bg-image);
}

.form-check-input:active {
  background-image: linear-gradient(180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0) 10px,
      rgba(255, 255, 255, 0.25) 100%),
    var(--bs-form-check-bg-image);
}

div.dt-buttons {
  display: flex;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: center;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  justify-content: center;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0;
  font-size: 1rem;
}

.nomor {
  font-variant-numeric: tabular-nums;
  -moz-appearance: textfield;
}

.nomor::-webkit-outer-spin-button,
.nomor::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.feather {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 7625%) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #be0117;
  --bs-btn-border-color: #be0117;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #be0117;
  --bs-btn-hover-border-color: #be0117;
  --bs-btn-focus-shadow-rgb: #be0117;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #be0117;
  --bs-btn-active-border-color: #be0117;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #be0117;
  --bs-btn-disabled-border-color: #be0117;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.25;
}

.fade {
  transition: opacity 0.15s linear;
}

.modal.fade .modal-dialog {
  transition: transform 0.15s ease-in-out;
  transform: scale(0.9);
}

.modal.show .modal-dialog {
  transform: none;
}

.v1rst-badge {
  background-color: rgb(255, 175, 192);
  color: #be0117;
}

.dropdown-menu {
  padding: 0.5rem 0.5rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-image: var(--bs-gradient);
  color: var(--bs-dropdown-link-hover-color);
  background-color: var(--bs-dropdown-link-hover-bg);
  box-shadow: inset 0 0 0 1px var(--bs-dropdown-border-color);
  border-radius: var(--bs-border-radius-lg);
}

.dropdown-item.active {
  background-image: var(--bs-gradient);
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: var(--bs-dropdown-link-active-bg);
  box-shadow: inset 0 0 0 1px var(--bs-primary);
}

.dropdown-item:active {
  background-image: linear-gradient(180deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0) 10px,
      rgba(255, 255, 255, 0.25) 100%);
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: var(--bs-dropdown-link-active-bg);
  box-shadow: inset 0 0 0 1px var(--bs-primary);
}

.transparent-blur {
  --bs-bg-opacity: 1;
  backdrop-filter: none;
}

@media (prefers-reduced-transparency: no-preference) {
  .transparent-blur {
    --bs-bg-opacity: 0.6667;
    backdrop-filter: blur(20px);
  }
}

.btn-close-black {
  filter: none;
}

[data-bs-theme="dark"] .btn-close.btn-close-black {
  filter: none;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-image: var(--bs-gradient);
}

[data-bs-theme=dark] {
  --bs-body-bg: #000000;
  --bs-body-bg-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bs-body-color: #dee2e6;
    --bs-body-color-rgb: 222, 226, 230;
    --bs-body-bg: #000000;
    --bs-body-bg-rgb: 0, 0, 0;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(222, 226, 230, 0.75);
    --bs-secondary-color-rgb: 222, 226, 230;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(222, 226, 230, 0.5);
    --bs-tertiary-color-rgb: 222, 226, 230;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #8bb9fe;
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 139, 185, 254;
    --bs-code-color: #e685b5;
    --bs-highlight-color: #dee2e6;
    --bs-highlight-bg: #664d03;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
  }

  .btn-close.btn-close-black {
    filter: none;
  }

  .form-select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  }

  .form-switch .form-check-input:not(:checked):not(:focus) {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 0.25%29'/%3e%3c/svg%3e");
  }

  .navbar-dark,
  .navbar {
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .accordion-button::after {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

  .btn-close {
    filter: var(--bs-btn-close-white-filter);
  }

  .carousel .carousel-control-prev-icon,
  .carousel .carousel-control-next-icon {
    filter: invert(1) grayscale(100);
  }

  .carousel .carousel-indicators [data-bs-target] {
    background-color: #000;
  }

  .carousel .carousel-caption {
    color: #000;
  }
}