:root {
  --bs-font-sans-serif: system-ui, -apple-system, BlinkMacSystemFont,
    "Noto Sans", "Noto Sans Arabic", "Apple Color Emoji", sans-serif;

  --bs-font-monospace: "SFMono-Regular", "SF Mono", "Noto Sans Mono",
    "Courier New", "Apple Color Emoji", monospace;

  font-feature-settings: "cv06";
}

.date {
  font-variant-numeric: tabular-nums;
  font-feature-settings: "cv06";
}

.datefull {
  font-variant-numeric: proportional-nums;
  font-feature-settings: "cv06";
}
