@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("statics-woff/GeistMono-Thin.woff2") format("woff2"),
    url("statics-woff/GeistMono-Thin.woff") format("woff"),
    url("statics-ttf/GeistMono-Thin.ttf") format("ttf");
}
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("statics-woff/GeistMono-UltraLight.woff2") format("woff2"),
    url("statics-woff/GeistMono-UltraLight.woff") format("woff"),
    url("statics-ttf/GeistMono-UltraLight.ttf") format("ttf");
}
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("statics-woff/GeistMono-Light.woff2") format("woff2"),
    url("statics-woff/GeistMono-Light.woff") format("woff"),
    url("statics-ttf/GeistMono-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("statics-woff/GeistMono-Regular.woff2") format("woff2"),
    url("statics-woff/GeistMono-Regular.woff") format("woff"),
    url("statics-ttf/GeistMono-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("statics-woff/GeistMono-Medium.woff2") format("woff2"),
    url("statics-woff/GeistMono-Medium.woff") format("woff"),
    url("statics-ttf/GeistMono-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("statics-woff/GeistMono-SemiBold.woff2") format("woff2"),
    url("statics-woff/GeistMono-SemiBold.woff") format("woff"),
    url("statics-ttf/GeistMono-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("statics-woff/GeistMono-Bold.woff2") format("woff2"),
    url("statics-woff/GeistMono-Bold.woff") format("woff"),
    url("statics-ttf/GeistMono-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("statics-woff/GeistMono-Black.woff2") format("woff2"),
    url("statics-woff/GeistMono-Black.woff") format("woff"),
    url("statics-ttf/GeistMono-Black.ttf") format("ttf");
}
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("statics-woff/GeistMono-UltraBlack.woff2") format("woff2"),
    url("statics-woff/GeistMono-UltraBlack.woff") format("woff"),
    url("statics-ttf/GeistMono-UltraBlack.ttf") format("ttf");
}
