/* Nipis */
@font-face {
  font-family: 'NKL Dubai';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/niskala5570/pasuanjawi@2.872/Persendirian%20%26%20Perdagangan/Dubai/JAWI-Dubai-Light.woff2) format('woff2');
}
/* Biasa */
@font-face {
  font-family: 'NKL Dubai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/niskala5570/pasuanjawi@2.872/Persendirian%20%26%20Perdagangan/Dubai/JAWI-Dubai-Regular.woff2) format('woff2');
}
/* Tebal */
@font-face {
  font-family: 'NKL Dubai';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/niskala5570/pasuanjawi@2.872/Persendirian%20%26%20Perdagangan/Dubai/JAWI-Dubai-Bold.woff2) format('woff2');
}
