:root {
  --bs-font-sans-serif: Inter, system-ui, -apple-system, sans-serif;

  --bs-font-monospace: "JetBrains Mono", "Noto Sans Mono", monospace;

  font-variant-numeric: proportional-nums;

  font-feature-settings: "ss07", "liga" 1, "calt" 0, "dlig" 1, "cv01", "cv05",
    "cv10";
}

iframe {
  color-scheme: light;
}

* {
  font-variant-numeric: proportional-nums;

  font-feature-settings: "ss07", "liga" 1, "calt" 0, "dlig" 1, "cv01", "cv05",
    "cv10";
}

@supports (font-variation-settings: normal) {
  :root {
    --bs-font-sans-serif: InterVariable, system-ui, -apple-system, sans-serif;
  }
}

.jawi {
  font-family: "NKL Dubai";
}

/* .display-6,

.display-5,

.display-4,

.display-3,

.display-2,

.display-1,

h3,

.h3,

h2,

.h2,

h1,

.h1 {

  font-family: "GitLab Sans Hinted", system-ui, -apple-system, sans-serif;

}

.jawi > .display-6,

.jawi .display-6,

.jawi > .display-5,

.jawi .display-5,

.jawi > .display-4,

.jawi .display-4,

.jawi > .display-3,

.jawi .display-3,

.jawi > .display-2,

.jawi .display-2,

.jawi > .display-1,

.jawi .display-1,

.jawi > .h3,

.jawi .h3,

.jawi > h3,

.jawi h3,

.jawi > .h2,

.jawi .h2,

.jawi > h2,

.jawi h2,

.jawi > .h1,

.jawi .h1,

.jawi > h1,

.jawi h1,

.jawi {

  font-family: "NKL Dubai";

} */

.bg-gradient {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,

    rgba(192, 192, 192, 0.2) 50%,

    rgba(64, 64, 64, 0.15) 100%
  ) !important;
}

.bg-gradient-header {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,

    rgba(192, 192, 192, 0.2) 20px,

    rgba(64, 64, 64, 0.15) 100%
  ) !important;
}

.bg-gradient-navbar {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,

    rgba(192, 192, 192, 0.2) 24px,

    rgba(64, 64, 64, 0.15) 100%
  ) !important;
}

.form-control::file-selector-button {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,

    rgba(192, 192, 192, 0.2) 50%,

    rgba(64, 64, 64, 0.15) 100%
  ) !important;
}

.btn-x-twitter {
  background-color: #000000;
}

.btn-instagram {
  --bs-btn-bg: #bc1888;

  --bs-btn-hover-bg: #dc2743;

  --bs-btn-active-bg: #f09433;

  /* background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); */
}

.btn-tiktok {
  background-color: #000000;
}

div.dt-buttons {
  display: flex;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: center;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  justify-content: center;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0;

  font-size: 1rem;
}

.nomor {
  font-variant-numeric: tabular-nums;

  -moz-appearance: textfield;
}

.nomor::-webkit-outer-spin-button,
.nomor::-webkit-inner-spin-button {
  -webkit-appearance: none;

  margin: 0;
}

.videoWrapper {
  position: relative;

  padding-bottom: 56.25%; /* 16:9 */

  height: 0;
}

.videoWrapper iframe {
  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;
}

.feather {
  width: 16px;

  height: 16px;

  margin-bottom: 2px;
}

.bd-placeholder-img {
  font-size: 1.125rem;

  text-anchor: middle;

  -webkit-user-select: none;

  -moz-user-select: none;

  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;

  background-color: rgba(0, 0, 0, 0.1);

  border: solid rgba(0, 0, 0, 0.15);

  border-width: 1px 0;

  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;

  width: 1.5rem;

  height: 100vh;
}

.bi {
  vertical-align: -0.125em;

  fill: currentColor;
}

.nav-scroller {
  position: relative;

  z-index: 2;

  height: 2.75rem;

  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;

  flex-wrap: nowrap;

  padding-bottom: 1rem;

  margin-top: -1px;

  overflow-x: auto;

  text-align: center;

  white-space: nowrap;

  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bs-btn-color: #fff;

  --bs-btn-bg: #be0117;

  --bs-btn-border-color: #be0117;

  --bs-btn-hover-color: #fff;

  --bs-btn-hover-bg: #be0117;

  --bs-btn-hover-border-color: #be0117;

  --bs-btn-focus-shadow-rgb: #be0117;

  --bs-btn-active-color: #fff;

  --bs-btn-active-bg: #be0117;

  --bs-btn-active-border-color: #be0117;

  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

  --bs-btn-disabled-color: #fff;

  --bs-btn-disabled-bg: #be0117;

  --bs-btn-disabled-border-color: #be0117;
}

.modal {
  backdrop-filter: blur(50px);
}

.modal-backdrop {
  --bs-backdrop-opacity: 0;
}

.fade {
  transition: opacity 0.15s linear;
}

.modal.fade .modal-dialog {
  backdrop-filter: blur(50px);

  transition: transform 0.15s ease-in-out;

  transform: scale(0.9);
}

.modal.show .modal-dialog {
  backdrop-filter: blur(50px);

  transform: none;
}

.v1rst-badge {
  background-color: rgb(255, 175, 192);

  color: #be0117;
}

.date {
  font-variant-numeric: tabular-nums;

  font-feature-settings: "ss07", "calt" 1, "dlig" 1, "cv01", "cv05", "cv10";
}
