:root {
  --bs-font-sans-serif: "Inter HWP", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Noto Sans", "Noto Sans Arabic", "Noto Color Emoji", "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", Helvetica, Arial, sans-serif;

  --bs-font-monospace: ui-monospace, SFMono-Regular, "SF Mono", "Noto Sans Mono", "Noto Color Emoji", "Apple Color Emoji", Menlo, Consolas, "Segoe UI Emoji", "Courier New", monospace;
}

.date {

  font-variant-numeric: tabular-nums;

}